aiofiles==24.1.0
browser_cookie3==0.20.1
comtypes==1.4.10
discord.py==2.5.0
numpy==2.2.3
opencv_python==4.11.0.86
Pillow==11.1.0
psutil==7.0.0
pyautogui==0.9.54
pycaw==20240210
pycryptodome==3.21.0
pygame==2.6.1
pynput==1.8.0
pyperclip==1.9.0
pyttsx3==2.98
pywin32==308
Requests==2.32.3
screen_brightness_control==0.24.2
sounddevice==0.5.1
WMI==1.5.1
